<div class="input">
  <form #form="ngForm" (Submit)="onSubmit()">
    <input
      type="text"
      class="input-one"
      placeholder="city"
      name="city"
      [(ngModel)]="CityName"
      (keyup.enter)="onSubmit()"
    />
  </form>
</div>
<div class="container" *ngIf="WeatherData">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="WeatherData.main.temp > 15" alt="hot" />
    <img src="../assets/cold.jpg" *ngIf="WeatherData.main.temp <= 15" alt="cold" />
    <div class="weather-data">
      <div class="location">{{ WeatherData.name }}</div>
      <div class="temperature">
        {{ WeatherData.main.temp | number : "1.0-0" }}˚C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-lable">More information</div>
    <div class="more-info-continer">
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/min.png" alt="min" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ WeatherData.main.temp_min | number : "1.0-0" }}˚C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/max.png" alt="max" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ WeatherData.main.temp_max | number : "1.0-0" }}˚C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/icons8-humidity-96.png" alt="humidity" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ WeatherData.main.humidity }}%</div>
      </div>
      <div class="info-block">
        <div class="info-block-lable">
          <img src="../assets/icons8-windy-weather-48.png" alt="windy" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ WeatherData.wind.speed }}km/h</div>
      </div>
    </div>
  </div>
</div>

   